.root {
  height: 100%;
  min-height: 920px;
  width: 100vw;
  box-sizing: border-box;
  background: #F9F9F9;
  :global {
    .cardContainer {
      display: flex;
      justify-content: center;
      gap: 36px;
      align-items: center;
      Button {
        width: 168px;
        height: var(--height-button_default, 48px);
        padding: var(--spacing-button_default-paddingTop, 6px) var(--spacing-button_default-paddingRight, 12px) var(--spacing-button_default-paddingTop, 6px) var(--spacing-button_default-paddingLeft, 12px);
        border-radius: var(----semi-border-radius-full, 9999px);
        border: 0px solid var(--color-button_primary-border-default, rgba(0, 0, 0, 0.00));
        background: var(--usage-data---semi-color-data-2, #F58700);
      }
    }
    .moonshotIcon {
      position: fixed;
      bottom: 0;
      right: 0;
      width: auto;
      height: auto;
    }
    .backButton {
      width: 38px;
      height: 38px;
      margin: 50px 0 0 90px;
      background-color: #F9F9F9;
    }
    .titleContent {
      display: flex;
      justify-content: space-between;
      padding: 0 100px;
    }
    .nonEmptyContent {
      display: flex;
      flex-direction: column;
      gap: 50px;
      .addButton {
        height: 48px;
        background-color: #e6f7ff; /* 设置背景色为淡蓝色 */
        border: 1px solid #91d5ff; /* 设置边框颜色 */
        color: #000; /* 设置文本颜色 */
        border-radius: 5px; /* 设置圆角 */
        padding: 5px 10px; /* 设置内边距 */
        display: flex;
        align-items: center;
      }
      .buttonsContainer {
        display: flex;
        gap: 200px;
        margin: 100px 0;
        justify-content: center;
      }
      .classList {
        margin: 0 80px;
        display: flex;
        flex-wrap: wrap;
        .listItem {
          display: inline-block;
          margin: 20px 28px;
          position: relative;
          .listLabelBox {
            position: relative;
            width: 150px;
            display: flex;
            align-items: center;
            .lessonButton {
              flex: 1;
              z-index: 1;
            }
            .deleteIcon {
              position: absolute;
              right: 10px;
              cursor: pointer;
              display: none;
              z-index: 2;
            }
            &:hover .deleteIcon {
              display: block;
            }
          }
        }
      }
    }
    .EmptyContent {
      .NoticeContent {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .emptyCreate {
          width: 313px;
        }
      }
    }
  }
}
.sider {
  display: flex;
  width: 1000px;
  height: 1080px;
  margin: 30px 0 0 30px ;
  flex-direction: column;
  .content {
    .headContainer {
      display: inline-flex;
      gap: 10px;
    }
  }

  .backButton {
    color: white;
  }
}